{% extends 'base.html' %} 

{% block content %}



<h6> CrowdSource Data </h6>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>View on Map</th>
        <th>Position(Long/lat)</th>
        <th>Actions</th>
      </tr>
    </thead>
    {% for crowdsourceobject in object_list %}
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="{{crowdsourceobject.image.url }}"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{crowdsourceobject.owner}}</p>
              <p class="text-muted mb-0"><strong>Emergency Type :</strong> {{crowdsourceobject.category}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{crowdsourceobject.description}}</p>
          <p class="text-muted mb-0"><strong>Created_at :</strong> {{crowdsourceobject.created_at}}</p>
        </td>
        <td>
          <a type="button" class="btn btn-link btn-sm btn-rounded" href = "{% url 'flood:CrowdSourceMap' %}" > click to View  </a>
        </td>
        <td>{{crowdsourceobject.longitude}} <br>{{crowdsourceobject.latitude}} </td>
        <td><form action="{% url 'flood:deletecs' crowdsourceobject.id %}"
            method="post" class="d-inline">{% csrf_token %}
            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
            </form></td>
      </tr>
     
{% endfor %}
      
    </tbody>
  </table>




























{% endblock %}