{% extends 'base.html' %} 

{% block content %}

    
  
  <div class="btn-group shadow-0" role="group">
    <a type="button"  href="{% url 'flood:HelpMap' %}" class="btn btn-link" data-mdb-color="dark">Refresh Page</a>
    <a type="button"  href="{% url 'flood:home' %}" class="btn btn-link" data-mdb-color="dark">Home</a>
    <a type="button"  href="{% url 'flood:HelpRequest_list' %}" class="btn btn-link" data-mdb-color="dark">Back to Admin</a>


</div>



        {{ my_map|safe }}
        <script src="" async defer></script>
    </body>




    {% endblock %}