{% extends 'base.html' %} 

{% block content %}


<div class="list-group list-group-light">
  <a
    href="{% url 'admin:index' %}"
    class="list-group-item list-group-item-action px-3 border-0 active"
    aria-current="true"
    >⚠️ Open Admin Panel ⚠️</a
  >
  <a
    href="{% url 'flood:HelpMap' %}"
    class="list-group-item list-group-item-action px-3 border-0"
    >🗺️ View Help Request Map 🗺️ </a
  >
  <a
    href="{% url 'flood:CrowdSourceMap' %}"
    class="list-group-item list-group-item-action px-3 border-0"
    >🗺️ View CrowdSource Maps 🗺️</a
  >
  <a
    href="{% url 'flood:Crowdsourcelist' %}"
    class="list-group-item list-group-item-action px-3 border-0"
    >View CrowdSource data list</a
  >
  <a
    class="list-group-item list-group-item-action px-3 border-0 disabled"
    >Vestibulum at eros</a
  >
</div>















{% endblock %}