{% extends 'base.html' %} 

{% block content %}


<h2>My Details</h2>
{{user.name}}  <br>
{{user.email}} <br>

{{user.contact}}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>

<div Class=" align-items-center justify-content-center">
<h2>API Endpoints</h2>

<table>
    <tr>
      <th>Api Endpoint</th>
      <th>Name</th>
      <th>Request allowed</th>
    </tr>
    <tr>
      <td>https://floodmanagement.herokuapp.com/api/user/register/</td>
      <td>User Registration</td>
      <td>POST</td>
    </tr>
    <tr>
      <td>https://floodmanagement.herokuapp.com/api/user/login/</td>
      <td>User Login</td>
      <td>POST</td>
    </tr>
    <tr>
      <td>https://floodmanagement.herokuapp.com/api/user/profile/</td>
      <td>Toget User Profile</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>https://floodmanagement.herokuapp.com/api/help/</td>
      <td>User location who are Requesting for help will appear</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>https://floodmanagement.herokuapp.com/api/helpdetails/id/</td>
      <td>To update user help request details</td>
      <td>PUT</td>
    </tr>
    <tr>
      <td>https://floodmanagement.herokuapp.com/api/helpdetails/id/</td>
      <td>To Delete help request</td>
      <td>Delete</td>
    </tr>
  </table>
  



</div>




{% endblock %}